<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置mybatis的缓存，延迟加载等等一系列属性 -->
    <settings>
        <setting name="autoMappingBehavior" value="FULL"/>
        <!--下换线和驼峰映射，如实体类为userName 数据库是user_name.查询时resultType可以转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--  开启二级缓存  	-->
        <setting name="cacheEnabled" value="true"/>
        <!--  懒加载  -->
        <setting name="lazyLoadingEnabled" value="true"/>
        <setting name="aggressiveLazyLoading" value="false"/>

    </settings>

</configuration>